
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="page-header">
                <h1>
                    Bill's Awesome Apartmentz
                </h1>
            </div>
            <div class="jumbotron">
                <h1>
                    Units
                </h1>
                <p>
                    
                </p>
                <p>
                    <a class="btn btn-primary btn-large" href="#">Learn more</a>
                </p>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-4 column">
            <h2>
                2 room apartment. 
            </h2>
            <p>
                Well-ventilated. Perfect for couples or roommates. $600 per month
            </p>
            <p>
                <a class="btn" href="#">View details »</a>
            </p>
        </div>
        <div class="col-md-4 column">
            <h2>
                Cozy single loft. 
            </h2>
            <p>
                Pets allowed. Well-lit, beautiful view. $300 per month.
            </p>
            <p>
                <a class="btn" href="#">View details »</a>
            </p>
        </div>
        <div class="col-md-4 column">
            <h2>
                Family apartment. 
            </h2>
            <p>
                Plenty of space. King-sized bed. $900 per month.
            </p>
            <p>
                <a class="btn" href="#">View details »</a>
            </p>
        </div>
    </div>
</div>